.multiple-selection-dialog {
  .table-container {
    overflow: auto;
    height: 30rem;
    width: 100%;
    border: 1px solid;
  }

  .text-selection-table {
    .multiple-instance-highlight {    
      background-color: hsla(329, 75%, 30%, 0.25);
      color: hsl(329, 75%, 30%);
    }

    width: 100%;
  }

  .text-selection-cell {
    border-bottom: 1px solid;
    padding: 0.5rem;
  }
}