<kendo-dialog
    *ngIf="isDialogOpen"
    title="Multiple Instances"
    (close)="cancel()"
    class="multiple-selection-dialog"
>
<span>{{numberOfInstancesFoundString}}</span>
<div>
    <span>Select the instances to mark for redaction:</span>
    <div class="table-container" tabindex="0">
        <table class="text-selection-table">
            <tr *ngFor="let text of highlightedTextObjects"
                (click)="markRow(text)">
                <td class="text-selection-cell">
                    <input type="checkbox"
                        [(ngModel)]="text.redact">
                </td>
                <td class="text-selection-cell">
                    <div [innerHTML]="text.sentence" tabindex="0">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="layout-padding-top">
        <a (click)="checkAll()"
           tabindex="0">Check all</a>
        <kendo-toolbar-separator></kendo-toolbar-separator>
        <a tabindex="0">Uncheck all</a>
    </div>
</div>

    <kendo-dialog-actions>
        <button kendoButton (click)="cancel()">Cancel</button>
        <button kendoButton (click)="commit()" primary="true">Update</button>
    </kendo-dialog-actions>
</kendo-dialog>
