<div class="page-control redaction-control">
        <h4 class="title">{{config.title}}</h4>
    <div class="redaction-container">
        <div class="left-container">
            <div class="toolbar">
                <kendo-toolbar
                    class="left-toolbar"
                >
                    <kendo-toolbar-buttongroup
                        *ngIf="!isDesignMode()"
                        [selection]="'single'"
                    >
                        <kendo-toolbar-button
                            *ngFor="let button of textModeButtons"
                            [togglable]="true"
                            [selected]="button.id === selectedTextModeButton.id"
                            (selectedChange)="textModeButtonChange($event, button)"
                            [text]="button.name"
                        ></kendo-toolbar-button>
                    </kendo-toolbar-buttongroup>
                </kendo-toolbar>
                <kendo-toolbar
                    class="right-toolbar"
                    *ngIf="isRedactMode()"
                >
                    <kendo-toolbar-buttongroup
                        [selection]="'single'"
                    >    
                        <kendo-toolbar-button
                            [text]="'Manual redaction'"
                            [selected]="isManualRedactSelected"
                            (click)="manualRedactTextSelected()"
                            [togglable]="true"
                            ></kendo-toolbar-button>
                        <kendo-toolbar-button
                            [text]="'Remove redaction'"
                            [selected]="isRemoveRedactionGroupsSelected"
                            (click)="removeRedactionGroupsSelected()"
                            [togglable]="true"
                        ></kendo-toolbar-button>
                    </kendo-toolbar-buttongroup>
                    <kendo-toolbar-separator *ngIf="config.automaticRedaction"></kendo-toolbar-separator>
                    <kendo-toolbar-button
                        *ngIf="config.automaticRedaction"
                        [text]="'Automatic redaction'"
                        class="button"
                        (click)="automaticRedaction()"
                    ></kendo-toolbar-button>
                </kendo-toolbar>
            </div>
            <div #editableContent
                class="redaction-text"
                [contenteditable]="isEditMode()"
                propValueAccessor="innerHTML"
                [(ngModel)]="redactionTextHTML"
                [ngModelOptions]="{debounce: 250}"
                [ngStyle]="{'height': config.height}"
                (mouseup)="mouseUpOrKeyUp($event)"
                (keyup)="mouseUpOrKeyUp($event)"
                (keydown)="keyDown($event)"
                (paste)="handlePaste($event)"
            ></div>
        </div>

        <div class="right-container">
            <div class="toolbar">
                <kendo-toolbar class="toolbar-no-background grid-toolbar">
                    <kendo-toolbar-button
                        *ngIf="!isDesignMode() && isRedactMode()"
                        [text]="'Redact'"
                        (click)="performRedactions()"
                        [disabled]="completeRedactionDisabled()"
                    ></kendo-toolbar-button>
                </kendo-toolbar>
            </div>
            <div class="grid"
                [ngStyle]="{'height': config.height}"
            >
                <kendo-grid
                    style="height: 100%;"
                    [data]="redactionGroups"
                    [pageable]="false"
                    [selectable]="gridData.selectableSettings"
                    (selectionChange)="gridSelection($event)"
                    [sortable]="gridData.sortableSettings"
                    (cellClick)="onGridCellClick($event)"
                >
                    <kendo-grid-column
                        *ngFor="let col of gridData.columns"
                        [field]="col.field"
                        [title]="col.title"
                        [editable]="false"
                    ></kendo-grid-column>
                </kendo-grid>
                <kendo-contextmenu #gridmenu
                    [items]="gridContextMenuItems" 
                    (select)="onContextItemSelect($event)"
                ></kendo-contextmenu>
            </div>
        </div>
    </div>
</div>
<kendo-dialog
    *ngIf="isLabelDialogOpen"
    title="Label"
    (close)="closeLabelDialog('cancel')"
>
    <input
        type="text"
        [(ngModel)]="groupLabel"
    >
    <kendo-dialog-actions>
        <button kendoButton (click)="closeLabelDialog('cancel')">Cancel</button>
        <button kendoButton (click)="closeLabelDialog('update')" primary="true">Update</button>
    </kendo-dialog-actions>
</kendo-dialog>

<app-redaction-mulitple-selection-dialog
    *ngIf="isMultiSelectionDialogOpen"
    [redactionText]="redactionText"
    [matches]="multiSelectMatches"
    [selectedText]="multiSelectTextSelection.selectedString"
    (closeDialog)="multiSelectClose($event)"
></app-redaction-mulitple-selection-dialog>



